// breakpoint mixins
//
// for medium desktop devices with dimension 1920X1080
@mixin for-des-lg {
	@media (max-width: $bp-des-lg){
		@content
	}
}

// for medium desktop devices with dimension 1536X864
@mixin for-des-md {
	@media (max-width: $bp-des-md){
		@content
	}
}

// for small desktop devices with dimension 1366X768 
@mixin for-des-sm {
	@media (max-width: $bp-des-sm){
		@content
	}
}

// for large android devices with dimension 360X800
@mixin for-and-lg {
	@media (max-width: $bp-and-lg){
		@content
	}
}

// Styles for hero section texts
@mixin hero-texts($bp){
	@if $bp == $bp-and-lg {
		h1{
			font-size:$h1-and-lg;
			font-weight:700;
		}
		p{
			font-size:$h6-and-lg;
			font-weight:400;
			line-height:1.5 * $h6-and-lg;
		}
	}
	@else if $bp == $bp-des-sm {
		h1{
			font-size:$h1-des-sm;
			font-weight:700;
		}
		p{
			font-size:$h6-des-sm;
			font-weight:400;
			line-height:1.5 * $h6-des-sm;
		}
	}
	@else if $bp == $bp-des-md {
		h1{
			font-size:$h1-des-md;
			font-weight:700;
		}
		p{
			font-size:$h6-des-md;
			font-weight:400;
			line-height:1.5 * $h6-des-md;
		}
	}
	@else if $bp == $bp-des-lg {
		h1{
			font-size:$h1-des-lg;
			font-weight:700;
		}
		p{
			font-size:$h6-des-lg;
			font-weight:400;
			line-height:1.5 * $h6-des-lg;
		}
	}
}