{{ define "allinone" }}

<div class="sections allinone">
    <h1>All in one place</h1>
    <div class="container">
        <div class="columns">
            <div class="column col-xs-12 col-4">
                <img class="sticker mb-5" src="/static/images/news.png"/>
                <h3>News</h3>
                <p>Read the latest news on environmental issues from credible sources.</p>
            </div>
            <div class="column col-xs-12 col-4">
                <img class="sticker mb-5" src="/static/images/events.png"/>
                <h3>Events</h3>
                <p>Discover environmental events near you.</p>
            </div>
            <div class="column col-xs-12 col-4">
                <img class="sticker mb-5" src="/static/images/data.png"/>
                <h3>Data</h3>
                <p>View environmental data with a simple interface from reputed institutions.</p>
            </div>
        </div>
    </div>
</div>

{{ end }}