{{ define "faq"}}

<div class="sections faq">
    <h2>FAQ</h2>
    <div class="col-xs-12 col-10 col-mx-auto">
        <details>
            <summary>
                <h3>What is Envonow?</h3>
                <i class="icon icon-plus"></i>
                <i class="icon icon-minus"></i>
            </summary>
            <div>
                <p>Envonow is an environmental news and events aggregator site. It also displays data in a very easy-to-understand way.</p>
            </div>
        </details>
        <details>
            <summary>
                <h3>Where does Envonow get its news, events, and data?</h3>
                <i class="icon icon-plus"></i>
                <i class="icon icon-minus"></i>
            </summary>
            <div>
                <p>We aggregate news, events, and data from various news outlets, institutes, and organizations. To provide the users with high-quality materials, we collect resources from credible and trustworthy sources.</p>
            </div>
        </details>
        <details>
            <summary>
                <h3>What is Envonow?</h3>
                <i class="icon icon-plus"></i>
                <i class="icon icon-minus"></i>
            </summary>
            <div>
                <p>Envonow is an environmental news and events aggregator site. It also displays data in a very easy-to-understand way.</p>
            </div>
        </details>
    </div>
</div>
{{ end }}