{{ define "hero" }}

<div class="main-hero sections">
    <h1>Find the most pressing environmental issues</h1>
    <p>Get the latest environmental news and events on Envonow. Subscribe below to be notified of its launch.</p>
    <form class="column col-8 col-xs-12 col-mx-auto form-group">
        <div class="input-group subscribe-input-group">
            <input type="email" class="form-input input-lg" placeholder="Your email">
            <button type="submit" class="btn btn-primary btn-lg input-group-btn">SUBSCRIBE</button>
        </div>
        <span class="caption">Don't worry! We won't clutter your inbox. We will only send approx one email/per week. By subscribing, you agree to receive marketing emails from Envonow.</span>
    </form>
</div>

{{ end }}