{{ define "hero" }}

<div class="col-12 main-hero sections second-hero bg-dark">
  <div class="column col-xs-12 col-8 col-mx-auto">
    <h1>Find the most pressing environmental issues</h1>
    <p>
      We need awareness to save the environment. Get environmental news
      delivered to your inbox. Subscribe to the newsletter below.
    </p>
    <form
      class="column col-8 col-xs-12 col-mx-auto form-group"
      action="{{.}}"
      method="POST"
    >
      <input type="hidden" name="u" value="51563b424f6177a790b06cd92" />
      <input type="hidden" name="id" value="4728b598a7" />
      <div class="input-group subscribe-input-group">
        <input
          type="email"
          class="form-input input-lg"
          placeholder="Your email"
          name="MERGE0"
          id="MERGE0"
        />
        <button type="submit" class="btn btn-tertiary btn-lg input-group-btn">
          SUBSCRIBE
        </button>
      </div>
      <span class="caption"
        >Don't worry! We won't clutter your inbox. We send approx one email/per
        week. By subscribing, you agree to receive marketing emails from
        Envonow.</span
      >
    </form>
  </div>
</div>

{{ end }}
