{{ define "properties" }}

<div class="sections properties col-12">
  <div class="columns">
    <div class="column col-xs-12">
      <div class="columns odd-col">
        <div class="column col-12">
          <div class="columns">
            <div class="column col-8 col-xs-12 col-mx-auto">
              <div class="columns">
                <div class="column col-xs-12 col-5 text-container">
                  <h2>From credible sources</h2>
                  <p>
                    We collect news only from credible and trustworthy sources.
                  </p>
                </div>
                <div class="column col-xs-10 col-mx-auto col-7 img-container">
                  <img src="/static/images/sources.png" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column col-12">
          <div class="columns even-col">
            <div class="column col-8 col-xs-12 col-mx-auto">
              <div class="columns">
                <div class="column col-xs-10 col-7 col-mx-auto img-container">
                  <img src="/static/images/personalized.png" />
                </div>
                <div class="column col-xs-12 col-5 text-container">
                  <h2>Read, what's for you!</h2>
                  <p>
                    View news according to your preference. We use AI to pick
                    the news based on your reading habit.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
