{{ define "properties" }}

<div class="sections container properties">
    <div class="columns">
        <div class="col-xs-12 col-5 text-container">
            <h2>From credible sources</h2>
            <p>We collect news only from credible and trustworthy sources.</p>
        </div>
        <div class="col-xs-12 col-7 img-container">
            <img src="/static/images/credible.avif"/>
        </div>
    </div>
    <div class="columns">
        <div class="col-xs-12 col-7 img-container">
            <img src="/static/images/credible.avif"/>
        </div>
        <div class="col-xs-12 col-5 text-container">
            <h2>Read, what's for you!</h2>
            <p>View news according to your preference. We use AI to pick the news based on your reading habit.</p>
        </div>
    </div>
</div>

{{ end }}