{{ define "footer" }}
<div class="footer column col-5 col-xs-12 col-ml-auto">
  <ul class="columns">
    <li class="column">
      <a href="mailto:ifthakhar@envonow.com">Contact Us</a>
    </li>
    <li class="column">
      <a target="_blank" href="https://twitter.com/envonow">Twitter</a>
    </li>
    <li class="column">
      <a target="_blank" href="https://mastodon.social/@envonow">Mastodon</a>
    </li>
    <li class="column">
      <a target="_blank" href="https://www.reddit.com/user/envonow">Reddit</a>
    </li>
  </ul>
</div>
<p class="column col-12 col-xs-12 col-mx-auto">
  &copy;2023 Envonow - An
  <a target="_blank" href="https://energimeinstitute.org">Energime Institute</a>
  project. All rights reserved.
</p>

{{ end }}
