{{ define "layout" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Receive news on environmental issues in your inbox from credible sources. Also, find environmental events to attend."
    />
    <link rel="stylesheet" href="/static/scss/style.css" />
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png" />
    <title>Envonow - Get environmental news delivered to your inbox</title>
  </head>
  <body>
    <div id="layout" class="container">
      <div class="columns">
        {{ template "content" . }} {{ template "footer" }}
      </div>
    </div>
  </body>
</html>

{{ end }}
